body{
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(9, 9, 57);
}
nav ul{
    list-style: none;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 0;
  padding: 0;
}
nav{
    top: 0;
    width: 100%;
    background: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #000;
    padding: 1em;
    z-index: 10;
}
nav a {
    color: rgb(3, 106, 150);
    text-decoration: none;
}
nav a:hover{
    color: azure;
    transition: color 0.5s;
}
h1{
    color: rgb(3, 106, 150);
    text-align: center;
    font-size: 50px;
    margin: 60px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .card {
    background-color: rgb(3, 106, 150);
    padding: 60px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card h3 {
    margin-top: 0;
    color:rgb(8, 19, 57);
    font-size: 20px;
  }

  .card ul {
    color: white;
    font-size: 15px;
  }
  h3{
    font-family: cursive;
  }